/* global styles goes here  */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400;1,700&family=Work+Sans:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 20px 40px;
    border: 0;
    border-radius: 40px;

}

.btn-primary {
    background-color: #F948B2;
}

.btn-secondary {
    background-color: #4EC5F7;
}

.section-title {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}

.section-description {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    padding: 18px 0;
    line-height: 30px;
}

/* end global styles  */

/* header section styles  */
header {
    background-color: #FFF;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 45px 0;

}

.logo img {
    width: 86px;
    height: 40px;
}

.logo h3 {
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
}

.logo-g {
    color: #F948B2;
}

.menus {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 32px;
}

.menu-itme {
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

.follow-us {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 18px 24px;
    display: flex;
    gap: 24px;

}

.fa-brands {
    font-size: 24px;
    color: #F61C0D;
}

/* ends header section styles  */


/* banner section styles  */
.banner-section,
.we-are-gamer-section {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content {
    width: 50%;
    text-align: left;
}

.banner-content .title-top {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.heading {
    color: transparent;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
}

.banner-content .main-title {
    font-size: 95px;
    font-weight: 800;
    margin-bottom: 10px;
}

.banner-content p {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 18px;
    text-align: left;

}

.btn-container {
    display: flex;
    gap: 24px;
    margin-top: 30px;
}

.banner-content-icon {
    margin-right: 10px;
}

.banner-img {
    width: 50%;
}

/* end banner section styles  */

/* we are gamer section styles  */
.we-are-gamer-section {
    padding: 95px;
}

.gamer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 150px;
}

.gamer-image {
    width: 50%;
    margin-right: 50px;
}

.gamer-content {
    text-align: right;
    width: 50%;
}

.gamer-content button {
    margin-top: 20px;
}

.gamer-caption {
    color: #534C64;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
    margin-top: 20px;
}

.gamer-caption span {
    font-size: 32px;
    font-weight: 700;
}

/* end we are gamer section styles  */

/* online games styles  */
.online-game-section {
    text-align: center;
    padding: 120px 0;
}

.online-game-section p {
    text-align: center;
}

.grid-online-games {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.grid-online-games .card p {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    margin-top: 24px;
}

/* end online games styles  */

/* play games section styles  */
.play-games-section {
    margin-bottom: 120px;
}

.play-games {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 240px;

}

.play-games-content {
    width: 50%;
    text-align: center;
}

.play-games-content h3,
p {
    text-align: right;
}


.play-games-img {
    width: 50%;
    position: relative;
}

.positioned-img {
    padding: 5px;
    position: absolute;
    bottom: -75px;
    left: -145px;
    border-radius: 8px;

}

.positioned-img img {
    width: 318px;
    height: 365px;
}

/* end play games section styles  */

/* game list section styles  */
.game-list-section {
    padding: 120px 0;
}

.game-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.game-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: #FFF;

    border-radius: 40px;
    padding: 5px 20px 5px 5px;
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
}


.game-list-item:hover {
    color: #F948B2;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid #F948B2;
    transition: 0.2s;
}

.game-list-item img {
    margin-right: 16px;
}

/* end game list section styles  */



/* footer section styles  */
footer {
    background-color: #0B0223;
    padding: 120px;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer-logo h3 {
    color: #FFF;
    font-size: 45px;
    font-weight: 700;

}

.footer-nav {
    padding: 60px 0;
    display: flex;
    justify-content: center;
    gap: 60px;
}

.footer-nav li>a {
    text-decoration: none;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.social-area {
    display: grid;
    grid-template-columns: repeat(6, 40px);
    justify-content: center;
    align-content: center;
    gap: 40px;
}

.social-area li>.fa-brands {
    color: #FFF;
    font-size: 40px;
}

.footer-nav-bottom {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    gap: 60px;
}

.footer-nav-bottom a {
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.60);
    text-decoration: none;
}


.copy-right {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.60);
    margin-top: 30px;
}